flake8
ipykernel  # For matplotlib backend.
ipython  # For matplotlib backend.
jupyter
matplotlib
notebook>=6.1.5  # CVE-2020-26215
numpy
pip-tools
pycodestyle
pydocstyle
pyflakes
pylint
pytest
pyyaml>=5.3.1
scikit-learn
scipy
yamllint
